@import url(../../fonts/inter.css);

.App {
  margin: 0 40px;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  /* color:#fff; */
}

.app__btn {
  padding: 0;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: linear 0.3s;
  text-decoration: none;
}

.app__btn-opacity:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: linear 0.3s;
}

.section__heading {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
  color: #fff;
  border-bottom: #dadada 2px solid;
}

.section__title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
