.header {
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  min-width: 38px;
  min-height: 38px;
  margin-right: 44px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__link {
  padding: 0;
  color: #fff;
  text-decoration: none;
  margin-right: 16px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.header__link:last-child {
  margin-right: 0;
}

.header__user-btn {
  min-height: 32px;
}

.header__reg-btn {
  background-color: rgba(19, 255, 11, 0);
  border: none;
  margin-right: 30px;
  font-size: 12px;
  line-height: 16px;
}

.header__user-btn_green {
  min-width: 76px;
  background-color: #3DDC84;
  border-radius: 3px;
  color: #000;
}

.header__user-black {
  min-width: 100px;
  background-color: #313131;
  border-radius: 20px;
}
